#new {
    .col-12,.col-lg-5{
        .image-product {
            @include hiden-not-image-product;
            img {
                @include img-responsive;
            }
        }
    }
    .read-new {
        background-color: $color-orange-opacity-20;
        list-style: none;
        a {
            color: $background_color_footer;
            font-size: 14px;  
        }
        .page-item{
            &:hover .new-link {
                color: $color_hover;
                text-decoration: none;
            }
        }
        
    }
}