#wooden-outDoor {
    .wooden {
        background: url('../images/wooder/background/65455.png');
        @include background-product;
        height: 35.7vh;
        color: $background_color_white;
        background-position: center;
    }
}