#wicker-outDoor {
    .wicker {
        background: url('../images/wicker/background/547.png');
        @include background-product;
        height: 35.7vh;
        background-position: right;
    }
}