#shop {
    .thumbnail {
        .image-product {
            @include hiden-not-image-product;
            img {
                @include img-responsive;
            }
        }
        .caption {
            a {
                text-decoration: none;
                color: $color_back_text_product;
                &:hover .ml-3 {
                    color: $color_hover;
                }
                // cắt chuỗi văn bản trên nhiều dòng
                .ml-3 {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 25px;
                    -webkit-line-clamp: 2;
                    height: 50px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                }
            }
            .text-center {
                @include color-price-item;
            }
        }
    }
}